<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="deviceId" value="01" />
		<add key="mqttClientId" value="frafavcrafwa" />
		<add key="mqttEndpoint" value="localhost" />
		<add key="mqttPort" value="1883" />
		<add key="mqttUsername" value=""/>
		<add key="mqttPassword" value=""/>
		<add key="printerPort" value="LPT1" />
	</appSettings>
</configuration>